<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {%- if page.title -%}
      {{ page.title }}
    {%- else -%}
      {{ site.title }}
    {%- endif -%}
  </title>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Louis Baragwanath",
    "url": "https://louis.co.nz",
    "sameAs": [
      "https://www.linkedin.com/in/louis-baragwanath",
      "https://github.com/louisb0"
    ],
    "email": "contact@louis.co.nz",
    "jobTitle": "Software Engineer",
    "alumniOf": {
      "@type": "CollegeOrUniversity",
      "name": "The University of Auckland"
    },
    "knowsAbout": ["systems programming", "C++", "x86", "performance engineering"]
  }
  </script>

  {%-seo title=false-%}

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
</head>
